$path: "/static/images/";

$helvetica-regular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$nta-light-tabular: $helvetica-regular;
$toolkit-font-stack: $helvetica-regular;
$toolkit-font-stack-tabular: $helvetica-regular;
$NTA-Light: $helvetica-regular;
$NTA-Light-Tabular: $helvetica-regular;
$Helvetica-Regular: $helvetica-regular;

$alpine-fresh: #128400;


@import 'govuk-elements';

// govuk-* overrides

#global-header {
  #logo {
    font-size: 26px;
    line-height: 1.3;
  }
  .header-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #logo {
    font-weight: normal;
    background: none;
    img {
      display: none;
    }
  }
  .phase-tag-logo {
    @include phase-tag();
    margin-top: 7px;
  }
  .header-proposition {
    padding-top: 4px;
    .header-link {
      margin-left: .7em;
      line-height: 2em;
      color: $page-colour;
      float: right;
      a:visited { color: $page-colour };
    }
  }
}


@media (min-width: 769px) {
  #global-header.with-proposition .header-wrapper .header-global {
    width: 31%;
  }
  #global-header.with-proposition .header-wrapper .header-proposition {
    width: 69%;
  }
}


div#global-header-bar {
  background-color: $alpine-fresh;
}


span.separator::before {
  content: " | ";
  color: $grey-1;
}


ul.classic {
  margin: 0 0 1em 2em;
  list-style-type: disc;
}

table.with-margin {
  margin: 2em 0 3em 0;
}


// widgets

.dataset-details {
  font-size: 90%;
  margin-bottom: 3em;

  div {
    display: inline-block;
    width: 8em;
  }
}

.dataset-section {
  margin-top: 4em;

  .dataset-section-heading {
    margin: 0;
    font-weight: 100;
  }

  .dataset-download {
    text-align: right;
    a { font-weight: bold; }
  }

  .dataset-size {
    padding-left: 1em;
  }

  ul.resources li {
    border-bottom: 2px solid $grey-2;
    padding-bottom: .8em;
    margin-top: .5em;
    a {
      padding-right: 1em;
      font-weight: bold;
    }
  }

}

.dataset-updates {
  margin-top: 2em;
  .dataset-update {
    font-weight: 700;
    font-size: 150%;
  }
  h4 {
    margin-top: 1em;
  }
}

.dataset-feedback {
  margin-top: 5em;
  a:visited, a:link {
    color: $grey-1;
  }
}
